@define-color bg-dark {{colors.surface.default.hex}};
@define-color bg-secondary {{colors.surface_container.default.hex}};
@define-color text-main {{colors.on_surface.default.hex}};
@define-color text-dim {{colors.on_surface_variant.default.hex}};
@define-color accent-yellow {{colors.primary.default.hex}};
@define-color accent-orange {{colors.tertiary.default.hex}};
@define-color accent-blue {{colors.secondary.default.hex}};
@define-color accent-purple {{colors.inverse_primary.default.hex}};
@define-color urgent-red {{colors.error.default.hex}};
@define-color success-green {{colors.primary_fixed.default.hex}};
@define-color border-color {{colors.outline_variant.default.hex}};
