@define-color bg-dark #0f1512;
@define-color bg-secondary #1b211e;
@define-color text-main #dee4e0;
@define-color text-dim #bfc9c3;
@define-color accent-yellow #87d6bc;
@define-color accent-orange #a8cbe2;
@define-color accent-blue #b2ccc1;
@define-color accent-purple #126b56;
@define-color urgent-red #ffb4ab;
@define-color success-green #a3f2d8;
@define-color border-color #3f4945;
